.slider-container {
    overflow: hidden;
    width: 90%; /* Set the width of the visible portion (2 items at a time) */
    margin-left: 5%;
    height: 100%;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slider-item {
    flex: 0 0 calc(100% / 2); /* Display 2 items at a time */
    display: flex;
    height: 100%;
    user-select: none;
    position: relative;
    padding: 1px;
  }
  
  .slider-item img {
    flex: 1; /* Each image takes half of the item's width */
    box-sizing: border-box;
    border-radius: 25px;
    padding: 10px;
    object-fit: contain; /* Fit the image inside the container */
    max-width: 100%; /* Set maximum width to 100% of the container */
    max-height: 100%; /* Set maximum height to 100% of the container */
    user-select: none;
  }

  .slider-item span{
    position: absolute;
    bottom: -10%;
    font-size: 450%; 
    font-family: 'Montserrat';
    font-weight: bolder;
    font-stretch: extra-expanded;
    color: #242A32;
    text-shadow:
    -0.3px -0.3px 0px #0296E5,
     0.3px -0.3px 0px #0296E5,
    -0.3px  0.3px 0px #0296E5,
     0.3px  0.3px 0px #0296E5; 
  }
