.slider-container {
    overflow: hidden;
    overflow-x: auto;
    width: 90%; /* Set the width of the visible portion (2 items at a time) */
    margin-left: 5%;
    height: 100%;
    padding: 8px;
    margin-top: 1%;
  }

  .slider-container::-webkit-scrollbar{
    visibility: hidden;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.3s ease;
    height: 100%;
    width: 100%;
   
  }
  
  .slider-item {
    flex: 0 0 calc(100% / 2); /* Display 2 items at a time */
    height: auto;
    display: flex;
    height: 100%;
    user-select: none;
    position: relative;
    padding: 10px 10px 20px 10px; /* Add padding to create space between images */
    box-sizing: border-box; 
  }


  
  .slider-item img {
    flex: 1; /* Each image takes half of the item's width */
    box-sizing: border-box;
    border-radius: 15px;
    object-fit:fill; /* Fit the image inside the container */
    max-width: 100%; /* Set maximum width to 100% of the container */
    max-height: 100%; /* Set maximum height to 100% of the container */
    user-select: none;
    
  }

  .slider-item p{
    position: absolute;
    bottom: -5%;
    font-size: 400%; 
    font-family: 'Montserrat';
    font-weight: bolder;
    font-stretch: extra-expanded;
    color: #242A32;
    text-shadow:
    -0.3px -0.3px 0px #0296E5,
     0.3px -0.3px 0px #0296E5,
    -0.3px  0.3px 0px #0296E5,
     0.3px  0.3px 0px #0296E5; 
  }
