<div class="home-container">
    <div class="search-section">
        <h5>What do you want to watch?</h5>
        <div routerLink="/search" class="search-container">
            <input type="text" class="search-input" placeholder="Search">
            <i class="fas fa-search search-icon"></i>
          </div>
    </div>
    <div class="slider-section">
      <app-slider></app-slider>
    </div>      
    <div class="nav-section">
         <div>
           <nav>
               <ul>
                   <li><a (click)="onGetNowPlaying()" [ngClass]="{'active': selectedApi === 'now-playing'}">Now Playing</a></li>
                   <li><a (click)="onGetUpcoming()" [ngClass]="{'active': selectedApi === 'upcoming'}">Upcoming</a></li>
                   <li><a (click)="onGetTopRated()" [ngClass]="{'active': selectedApi === 'top-rated'}">Top Rated</a></li>
                   <li><a (click)="onGetPopular()" [ngClass]="{'active': selectedApi === 'popular'}">Popular</a></li>
               </ul>
           </nav>
         </div> 
        <div class="picture-grid">
          <div class="picture" *ngFor="let movie of movies">
              <img [src]="movie.poster_path" [alt]="movie.title">
          </div>
    </div>
  </div>
 <app-footer></app-footer>

</div>