<div class="home-container">
    <div class="search-section">
        <h5>What do you want to watch?</h5>
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search">
            <i class="fas fa-search search-icon"></i>
          </div>
    </div>
    <div class="slider-section">
      <app-slider></app-slider>
    </div>      
    <div class="nav-section">
         <div>
           <nav>
               <ul>
                   <li><a (click)="selectedApi = 'new-playing'" [ngClass]="{'active': selectedApi === 'new-playing'}">New Playing</a></li>
                   <li><a (click)="selectedApi = 'upcoming'" [ngClass]="{'active': selectedApi === 'upcoming'}">Upcoming</a></li>
                   <li><a (click)="selectedApi = 'top-rated'" [ngClass]="{'active': selectedApi === 'top-rated'}">Top Rated</a></li>
                   <li><a (click)="selectedApi = 'popular'" [ngClass]="{'active': selectedApi === 'popular'}">Popular</a></li>
               </ul>
           </nav>
         </div> 
        <div class="picture-grid">
          <div class="picture" *ngFor="let item of items">
              <img [src]="item.image" alt="Picture">
          </div>
    </div>
  </div>
 <app-footer></app-footer>

</div>