.home-container{
    height: 100%;
    width: 100%;
    box-sizing: border-box !important ;
    position: relative;
}

h5{
   position: absolute;
   top: 40%;
   left: 10%;
}

.search-section{
    height: 17%;
    box-sizing: border-box;
    padding-top: 1px;
    position: relative;
}
/* Styles for the search container */
.search-container {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 90%;
  height: 30%;
  margin: 5% 0 0 7%;
}

.search-input {
  padding: 10px 30px 10px 10px; /* Add padding for the icon */
  width: 95%;
  height: 100%;
  border: 2px solid #494C53;
  background-color: #494C53;
  border-radius: 15px;
  outline: none;
  color: #fff; /* Set text color to white */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%) scaleX(-1);
  color: #b3b3b3; /* Set the color of the icon */
}

  .search-input::placeholder {
    color: #626368; /* Change to the color you want */
  }

  .slider-section{
    height: 31%;
    padding: 0;
    margin: 0;
  }

  .nav-section{
    height: 50%;
    box-sizing: border-box;
  }
  nav {
    color: white;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
  }
  
  
  nav ul li a {
    color: white;
    font-size: 65%;
    text-decoration: none;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
  }

  nav ul li a:hover{
    border-bottom: 3px solid #3A3F47; 
    transition: border-color 0.3s; 
  }     

  .active{
    border-bottom: 3px solid #3A3F47;
  }


  .picture-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 80%;
    overflow-y: auto;
    z-index: -1;
    margin: 10% 5% 0 5%;
}

.picture-grid::-webkit-scrollbar {
  display: none;
}

.picture {
    flex: 0 0 calc(33.33% - 10px); 
    margin-bottom: 20px;
    
}

.picture img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

