.main-container{
    background-color: #242A32;
    width: 281.25px;
    height: 609px;
    color: white;
}

@media (max-width: 1024px) {
    .main-container {
        width: 100vw;
        height: 100vh;
    }
}