.watch-list-container{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.header-section{
    width: 100%;
    height: 15%;
    position: relative;
}

.header-section a{
    position: absolute;
    top: 50%;
    left: 5%;
}

.header-section span{
    position: absolute;
    top: 55%;
    left: 35%;
    font-size: 16px;
}

.existed-result-section{
    width: 100%;
    height: 80%;
    overflow: scroll;
}
.existed-result-section::-webkit-scrollbar{
    visibility: hidden;
}

.movie-cart{
    height: 120px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}

.img-section{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section img{
    height: 90%;
    width: 90%;
    max-height: 90%;
    max-width: 90%;
    border-radius: 10%;
}


.details-section{
    height: 90%;
    width: 65%;
   display: flex;
   flex-direction: column;
}

.details-section .name{
    height: 20%;
    font-size: smaller !important;
    margin-bottom: 7%;
}
.size{
    height: 17%;
    display: flex;
    align-items: center;
}

.size span{
    font-size: 60%;
}

.size svg{
    height: 80%;
}


/*empty watch list*/

.empty-watch-list{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35%;
}

.empty-watch-list p{
    text-align: center;
}

.row1{
    font-size: 16px;
}

.row2{
    font-size: 12px;
    color: #92929D;
}
