.watch-list-container{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.existed-result-section{
    width: 100%;
    height: 80%;
    overflow: scroll;
}
.existed-result-section::-webkit-scrollbar{
    visibility: hidden;
}





