<div class="search-container">
  <app-header [page]="'Search'"></app-header>
    <div class="search-bar-section">
        <div class="search-container">
            <input [(ngModel)]="query" (input)="onSearch()" type="text" class="search-input" placeholder="Search" #searchInput>
            <i class="fas fa-search search-icon"></i>
          </div>
    </div>
    <app-empty-search *ngIf="query.length !== 0 && movies.length === 0; else not_empty"></app-empty-search>
    <ng-template #not_empty>
        <div class="search-result-section" *ngIf="query.length !== 0">
            <app-movie-cart [movies]="movies"></app-movie-cart>
        </div>
    </ng-template>
    <app-footer></app-footer>
</div>
